<div id="right_column_flip">
    <h2>Ayuda</h2>
    
    <h3><%= link_to_unless_current _("Quiénes somos"), help_about_path %></h3>
    <ul class="no_bullets">
        <li><%= link_to _("¿Cómo funciona?"), help_about_path(:anchor => 'how') %></li>
        <li><%= link_to _("¿Quién creó tuderechoasaber.es?"), help_about_path(:anchor => 'who') %></li>
        <li><%= link_to _("Patrocinadores"), help_about_path(:anchor => 'supporters') %></li>
    </ul>
    
    <h3><%= link_to_unless_current _("¿Cómo nos puedes ayudar?"), help_help_out_path %></h3>
    
    <h3><%= link_to_unless_current _("Guía para solicitantes"), help_requesting_path %></h3>
    <ul class="no_bullets">
        <li><%= link_to _("Solicitar información"), help_requesting_path(:anchor => 'making_requests') %></li>
        <li><%= link_to _("Respuestas"), help_requesting_path(:anchor => 'responses') %></li>
        <li><%= link_to _("Recursos"), help_requesting_path(:anchor => 'answers_appeals') %></li>
        <li><%= link_to _("En Tuderechoasaber.es"), help_requesting_path(:anchor => 'tdas') %></li>
        <li><%= link_to _("UE y otros países"), help_requesting_path(:anchor => 'other_countries') %></li>
        <li><%= link_to _("Plantillas para recursos"), help_requesting_path(:anchor => 'appeal_templates') %></li>
    </ul>

    <h3><%= link_to_unless_current _("Tu privacidad"), help_privacy_path %></h3>
    
    <h3><%= link_to_unless_current _("Información para instituciones"), help_officers_path %></h3>
    <ul class="no_bullets">
        <li><%= link_to _("¿Qué es tuderechoasaber.es?"), help_officers_path(:anchor => 'what') %></li>
        <li><%= link_to _("Proceso de las solicitudes"), help_officers_path(:anchor => 'processing_requests') %></li>
        <li><%= link_to _("Privacidad"), help_officers_path(:anchor => 'privacy_issues') %></li>
    </ul>

    <h3></h3>
    <h3><%= link_to_unless_current _("Basado en Alaveteli"), help_alaveteli_path %></h3>

    <h3><%= link_to_unless_current _("API para programadores"), help_api_path %></h3>
    
    <h3><%= link_to_unless_current _("Agradecimientos"), help_credits_path %></h3>

    <h2 id="contact"><%= _("Contáctanos") %></h2>
    <p><%= _("Si tu pregunta no está resuelta aquí, o quieres hacernos llegar algún comentario sobre la web, ") %><%= link_to _('contáctanos'), help_contact_path %>.
    </p>
</div>


